body{
    
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.nav>li>form>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-default .navbar-nav>li>form>a {
    color: #777;
}

@media (min-width: 768px){
.navbar-nav>li>form>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
}

.navbar-inverse .navbar-nav>li>form>a:hover, .navbar-inverse .navbar-nav>li>form>a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>form>a {
    color: #999;
}

.nav>li>form>a:hover, .nav>li>form>a:focus {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    background-color: #eee;
}

.navbar-inverse {
    background-color: #121316;
    border-color: #555;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
