<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>homepage</servlet-name>
        <jsp-file>/homepage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMeeting</servlet-name>
        <servlet-class>servlets.SearchMeeting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBreakServlet</servlet-name>
        <servlet-class>servlets.AddBreakServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMeeting</servlet-name>
        <servlet-class>servlets.DeleteMeeting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMeetingServlet</servlet-name>
        <servlet-class>servlets.updateMeetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUpdateMeeting</servlet-name>
        <servlet-class>servlets.DisplayUpdateMeeting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecomputeCalendarMeetingsBreaks</servlet-name>
        <servlet-class>servlets.RecomputeCalendarMeetingsBreaks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBreak</servlet-name>
        <servlet-class>servlets.DeleteBreak</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/Home</url-pattern>
        <!-- Any URL you want here -->
    </servlet-mapping>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>servlets.loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyPreferences</servlet-name>
        <servlet-class>servlets.ModifyPreferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyTravelMeans</servlet-name>
        <servlet-class>servlets.ModifyTravelMeans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayTravelMeans</servlet-name>
        <servlet-class>servlets.DisplayTravelMeans</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyPreferences</servlet-name>
        <url-pattern>/ModifyPreferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyTravelMeans</servlet-name>
        <url-pattern>/ModifyTravelMeans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayTravelMeans</servlet-name>
        <url-pattern>/DisplayTravelMeans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMeeting</servlet-name>
        <url-pattern>/SearchMeeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBreakServlet</servlet-name>
        <url-pattern>/AddBreakServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMeeting</servlet-name>
        <url-pattern>/DeleteMeeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMeetingServlet</servlet-name>
        <url-pattern>/updateMeetingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUpdateMeeting</servlet-name>
        <url-pattern>/DisplayUpdateMeeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecomputeCalendarMeetingsBreaks</servlet-name>
        <url-pattern>/RecomputeCalendarMeetingsBreaks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBreak</servlet-name>
        <url-pattern>/DeleteBreak</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
